# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Flask
instance/
.env
config.py (if it contains secrets)

# Uploads
static/uploads/
*.db

# IDE
.vscode/
.idea/
*.swp